* {
    margin: 0;
    padding: 0;
}

.corpo {
    width: 90%;
    height: 80vh;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #F9F2E7;
    display: block;
    align-items: center;
}

.tituloprincipal {
    font-size: clamp(8%, 5vw, 7vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-left: 5%;
    padding-top: 2%;
    color: #A34E2D;
}

.texto {
    background-color: #A34E2D;
    border: none;
    height: 7vh;
    border-radius: 10px;
    color: white;
}

.datadocadastro {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    padding-left: 10%;
    color: #A34E2D;
}

.data {
    height: 7vh;
    background-color: #A34E2D;
    border-radius: 10px;
    color: white;
    width: 10%;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: clamp(8%, 1vw, 3vh);
}

#cadastro {
    margin-left: 12%;
    margin-top: 1%;
}

.nomedopaciente {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    padding-top: 3%;
    padding-left: 50%;
    color: #A34E2D;
}

#nome {
    width: 30%;
    margin-left: 53%;
    margin-top: 1%;
    padding-left: 1%;
    font-size: clamp(8%, 1vw, 3vh);

}

.datinha {
    margin-top: -7.5%;
}

.pacientezinho {
    margin-left: -20%;
}

.selecionarsexo{
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    padding-top: 2%;
    padding-left: 10%;
    color: #A34E2D;
}

#sex {
    height: 7vh;
    background-color: #A34E2D;
    border-radius: 10px;
    color: white;
    width: 10%;
    margin-left: 12%;
    margin-top: 1%;
    padding-left: 1%;
    font-size: clamp(8%, 1vw, 3vh);
}

.datadenascimento {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #A34E2D;
}
#nascimento {
    width: 15%;
    margin-left: 4%;
}

.dat {
    margin-top: -7.5%;
    margin-left: 27%;
}

.titulocpf {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #A34E2D;
}

#cpf {
    width: 40%;
    margin-top: 1%;
    /* margin-left: 3%; */
}

.pcpf {
    margin-left: 50%;
    margin-top: -7.1%;
}

.titulorg {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #A34E2D;
}

#rg {
    width: 80%;
    margin-top: 1%;
}

.prg {
    margin-left: 73%;
    margin-top: -6.9%;
}

.titulocelular {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #A34E2D;
    margin-top: 3%;
}

#celular {
    width: 20%;
    margin-top: 1%;
    margin-left: 4%;
}

.pcelular {
    margin-left: 10%;
}

.tituloendereco {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #A34E2D;
}

#endereço {
    width: 40%;
    margin-top: 1%;
    margin-left: 4%;
}

.pendereco {
    margin-left: 35%;
    margin-top: -7.2%;
}

.botao {
    background-color: #A34E2D;
    font-size: clamp(8%, 1.5vw, 3.5vh);
    border-radius: 10%;
    color: white;
    height: 7vh;
    width: 10%;
    margin-left: 85%;
    cursor: pointer;
    position: relative;
    margin-left: 84%;
    top: -16.9%;
}

.uv-checkbox-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 70%;
    top: -8%;
  }
  
  .uv-checkbox {
    display: none;
  }
  
  .uv-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .uv-checkbox-icon {
    position: relative;
    width: 2em;
    height: 2em;
    border: 2px solid #ccc;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: border-color 0.3s ease, border-radius 0.3s ease;
  }
  
  .uv-checkmark {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 1.6em;
    height: 1.6em;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 24;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  
  .uv-checkbox-text {
    margin-left: 0.5em;
    transition: color 0.3s ease;
  }
  
  .uv-checkbox:checked + .uv-checkbox-label .uv-checkbox-icon {
    border-color: #45c556;
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    background-color: #45c556;
  }
  
  .uv-checkbox:checked + .uv-checkbox-label .uv-checkmark {
    stroke-dashoffset: 0;
  }
  
  .uv-checkbox:checked + .uv-checkbox-label .uv-checkbox-text {
    color: #45c556;
  }
  
  #imagem {
    width: 20%;
    margin-left: 76%;
    margin-top: -36%;
    position: absolute;
  }