*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

body{
    background-color: #ffffff;
}

/* Navbar */

.container{
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: #A44A26;
    box-shadow: 0.0vh 0.07vh 0.9vh ;
}
#barra{
    height: 6vh;
    border-left: 0.01px solid white;
}

.Perfilzinho{
    margin-top: 1px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .logo a{
    font-size: 9vh;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 10%;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 1vh;
}

nav ul li a{
    text-decoration: none;
    font-size: 5vh;
    /* text-transform: uppercase; */
    color: white;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 0.1vh solid transparent;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

nav ul li a:hover{
    transform: scale(1,2);
    border-bottom: 0.3vh solid white;
}

.contato {
    text-decoration: none;
    font-size: 5vh;
    /* text-transform: uppercase; */
    color: white;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 0.3vh solid white;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

/* Corpo */

.mulher {
    width: 20%;
    height: 20%;
    margin-left: 5.4%;
    margin-top: 2%;
}

h1 {
    font-size: 9vh;
    color: #A44A26;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: ;
}



